body {
    background: #f1f1f1;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    margin: 50px auto;
    max-width: 600px;
    width: 100%;
    text-align: center;
}

a {
    color: #4183c4; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    color: #828282;
    line-height: 15px;
}